@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$basic-grey: #424242;
$primary-purple: #7b1fa2;
$accent-green: #63daa2;
$background-grey: #212529;

.container {
    font-family: 'Montserrat', sans-serif;  
    color: white;
    letter-spacing: 0.15rem;
    line-height: 1.25;
}

.card {
    border: solid 0.125rem $accent-green;
}

.card.is-phone-portrait {
    flex-wrap: wrap;
}

mat-card {
    background-color: $basic-grey;
    border-radius: 1.5rem;
    box-shadow: none;
}

.pi {
    font-size: 2rem;
}

.mat-mdc-card-avatar {
    margin: 0.5rem 0 0 0;
}