<div class="flex flex-column justify-content-center align-items-center w-full container">
    <mat-card class="flex flex-column gap-4 w-11 card">
        <mat-card-header>
          <div mat-card-avatar class="pi pi-heart-fill"></div>
          <mat-card-title>
            <span>{{ post.title }}</span>
          </mat-card-title>
          <mat-card-subtitle>
            <span>{{ post.date | date }}</span>
          </mat-card-subtitle>
          <div *ngIf="user && user.email === 'admin@admin.com'">
            <i class="pi pi-times-circle" (click)="deletePost()"></i>
          </div>
        </mat-card-header>
        <div>
            <img mat-card-image class="max-w-full w-full">
            <app-image-slider [images]="images"></app-image-slider>
        </div>
        <mat-card-content>
          <p>
            {{ post.description }}
          </p>
        </mat-card-content>
    </mat-card>
</div>


