<div class="flex w-full h-full gap-5 container" [ngClass]="{'phone': isPhonePortrait}">
    <div class="flex flex-column h-full form">
        <div *ngIf="user" class="flex flex-column w-full justify-content-center align-items-center overflow-hidden">
            <div class="flex justify-content-center align-items-start title">
                <span>TALÁLTAM EGY KUTYÁT</span>
            </div>
            <div class="flex justify-content-center align-items-center w-full">
                <app-form [type]="type"></app-form>
            </div>
        </div>
        <div *ngIf="!user" class="flex flex-column justify-content-start align-items-center gap-5 w-full h-full">
            <div class="flex justify-content-center title">Posztolni csak bejelentkezett felhasználók tudnak!</div>
            <div class="flex justify-content-center align-items-center w-7 h-10rem auth">
                <button mat-raised-button color="accent" (click)="openAuthDialog()">Bejelentkezés/Regisztráció</button>
            </div>
        </div>
    </div>
    <div class="flex flex-column align-items-center h-auto block">
        <div *ngFor="let post of posts" class="flex flex-column w-11 h-auto max-h-full gap-5 overflow-auto posts">
            <app-post [post]="post"></app-post>
        </div>
    </div>
</div>

