<div class="flex w-full h-full gap-5 container" [ngClass]="{'phone': isPhonePortrait}">
    <div class="flex flex-column form">
        <div class="flex flex-column w-full justify-content-center align-content-center overflow-hidden">
            <div class="flex justify-content-center align-items-start title">
                <span>TALÁLTAM EGY KUTYÁT</span>
            </div>
            <div class="flex justify-content-center align-items-center w-full">
                <app-form></app-form>
            </div>
        </div>
    </div>
    <div class="flex flex-column align-content-center h-auto block">
        <div class="flex flex-column w-11 h-auto max-h-full gap-5 overflow-auto posts">
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
        </div>
    </div>
</div>
