<div class="flex justify-content-center align-items-center w-full h-full container" [ngClass]="{'phone': isPhonePortrait}">
    <div class="flex flex-wrap justify-content-center align-items-center slider" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
        <div *ngFor="let image of images; let i = index" class="slide" [ngClass]="{ 'active': i === currentIndex }">
            <img class="w-full h-full z-1" *ngIf="i === currentIndex" [src]="image">
        </div>
        <div class="w-full h-full absolute z-5 content">
            <div class="flex flex-column justify-content-around w-full h-full relative up">
                <div class="flex align-items-center justify-content-center">
                    <span class="text" [ngClass]="{'small1': isPhonePortrait}">KUTYAKOMPASSZ</span>
                </div>
                <div class="flex align-items-center justify-content-between">
                    <a class="flex justify-content-center align-items-center arrow" (click)="prevSlide()"><i class="pi pi-chevron-left"></i></a>
                    <a class="flex justify-content-center align-items-center arrow" (click)="nextSlide()"><i class="pi pi-chevron-right"></i></a>
                </div>
                <div class="flex justify-content-center paginator">
                    <p>{{ currentIndex + 1 }}/{{ images.length }}</p>
                </div>
            </div>
        </div>
      </div>
</div>