<div class="flex flex-column gap-6 w-full app">
    <div
      class="flex justify-content-center align-items-center w-full header" 
      [ngClass]="{'header-phone': isPhonePortrait}">
      <app-header class="w-full h-full"></app-header>
    </div>
    <div class="flex flex-column w-full content">
      <router-outlet></router-outlet>
    </div>
    <div class="flex justify-content-center align-items-center w-full footer">
      <app-footer class="w-full h-full"></app-footer>
    </div>
  </div>