<div class="flex flex-column gap-5 w-full h-full max-w-full container">
    <div class="flex flex-column gap-5 content">
        <div class="flex justify-content-center align-items-center w-full max-w-full top" [ngClass]="{'phone': isPhonePortrait}">
            <div class="flex flex-column gap-5 desc">
                <span class="flex justify-content-center align-items-center title">RÓLUNK</span>
                <div class="text">
                    <p class="description">
                        Egy bizonyos: 
                        egy ilyen élénk négylábú mellett sohasem lesz unalmas az élet! 
                        Mivel a welsh terrier jellembeli tulajdonságok széles palettáját vonultatja fel, 
                        melyekkel nemcsak kiválóan képes szórakoztatni gazdáját, 
                        hanem kellőképpen le is foglalja, 
                        s nem túl sok nyugtot hagy neki. 
                        Végezetül egy nagyon sportos és intelligens kutyáról van szó. 
                        Olyanról, amely szeretné, hogy úgy fizikailag, 
                        mint szellemileg jó kis elfoglaltságokban legyen része. 
                        Ezért aztán ennek a kis ügyes wales-inek ideális sokféle kutyasport, 
                        az agility, az obedience, discdogging és a versenysportok is. 
                        De ez a kitartó kutyus a gyalogos, 
                        kerékpáros vagy lovas kirándulásokért is nagyon tud lelkesedni.
                    </p>
                </div>
            </div>
            <div class="flex max-w-max image">
                <img src="../../assets/blog1.png">
            </div>
        </div>
        <div class="flex justify-content-center align-items-center w-full max-w-full bottom" [ngClass]="{'phone': isPhonePortrait}">
            <div class="flex max-w-max map">
                <img src="../../assets/blog1.png">
            </div>
            <div class="flex flex-column gap-5 help">
                <span class="flex justify-content-center align-items-center title"><i class="pi pi-question-circle"></i>SÚGÓ</span>
                <div class="text" *ngFor="let item of help; let i = index">
                    <div class="help-block">
                        <i
                            class="pi" 
                            [ngClass]="item.open ? 'pi-chevron-circle-up' : 'pi-chevron-circle-down'" 
                            (click)="openRes(i)"></i>
                        <span class="question">{{ item.question }}</span>
                        <p class="response" *ngIf="item.open">{{ item.response }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div>
        <ng-image-slider
            [infinite]="false"
            [autoSlide]="1"
            [imageSize]="{width: '15%', height: '40%'}"
            [slideImage]="1" 
            [images]="imgCollection"
            #nav>
        </ng-image-slider>
    </div> -->
</div>
